/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Content/Icons
/Content/Graphics
/Content/StarterContent
/JSON
/Windows
/Build
/Plugins
/.idea

/Content/TopDown/Maps/_GENERATED/piotr
/Content/CityofBrass_Enemies
/Content/AnimalVarietyPack
/Content/Stylized_PBR_Nature
/Content/Low_Poly_Viking_World
/Content/Medieval_Environment

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.config
*.umap

